.div-profile {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: 4px solid #ECF3FC
}